.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 50% opacity*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  /*20%*/
    position: relative;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto; /* enable vertical scrolling if content exceeds the height */
}

.create-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.create-button:hover {
    background-color: #0056b3
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.question-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

/* align labels to the left */
label {
    display: block;
    margin: 10px 0; /* Space around labels */
}

/* ensuring all input fields align left */
input[type="text"],
input[type="number"],
select {
    width: calc(100% - 10px); /* make it full width, minus some space */
    padding: 5px;
}

.question-section label {
    /*TODO*/
}
