
.role-selection-container {
    display: flex;    /*flex box*/
    flex-direction: column;
    justify-content: center;    /*center content along main axis (column/vertical)*/
    align-items: center;        /*center content along perpendicular axis (row/horizontal)*/
    text-align: center;         /*text inside child elements aligned horizontally*/
    background-color: #f5f5f5;
}

.role-selection-container h1 {
    margin-top:20vh;            /*20% of vertical height*/
    font-size: 2rem;            /*two times the html root element's font size*/
    margin-bottom: 40px;
}

/* styling the container for role options */
.roles-container {
    display: flex;
    justify-content: space-around;
    width: 45%; /* spacing between roles */
}

.role-option {
    text-decoration: none;   /*no default underline for <a> tag*/
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-circle {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.role-img {
    width: 80%; /* adjust image size */
    height: auto;
}

/* text below each image */
.role-option p {
    font-size: 1.2rem;
    font-weight: bold;
}
